<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>

    <title>Stack Overflow Searcher</title>
</head>
<body>

<div th:replace="fragments/header :: header (${request})"></div>

<div layout:fragment="content">

</div>

<div th:replace="fragments/footer :: copy"></div>

<script th:src="@{/scripts/jquery-3.3.1.min.js}"></script>
<script th:src="@{/scripts/bootstrap.min.js}"></script>
<script th:src="@{/scripts/app.js}"></script>
</body>
</html>
