<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Stack Overflow Searcher</title>
</head>
<body>

    <th:block layout:fragment="content">

        <div class="page-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="content-box-small">
                        <span class="advert">Here could be your advertising</span>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</body>
</html>
